
<div id="welcome">
	<div class="jumbotron main">
		<div class="container">
			<h1>Hi, I'm <span>Erin</span>. I'm a UX Designer.</h1>
			<button type="button" class="btn btn-default" aria-label="Left Align">View My Work</button>
		</div>
	</div>
</div>